.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #4E6C50;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 8px 0 #232931;
  font-size: 8rem;
  color: white;
}

p {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 0 #232931;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 70%;
  padding: 40px;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Indie Flower', cursive;

}
